/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply dark mode styles directly */
  body {
    background-color: #000000; /* Directly use the black color */
    color: #f5f5f5; /* Use the white color for text */
  }

  a {
    color: #f5f5f5; /* Set links to the light text color */
  }
}
